.oam-wrapper {
    position: relative;
}

.oam-iframe {
    border: none;
}

.oam-link {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;
}